.home-btn{
    border: none;
    padding: 5px;
    background-color:#007bff ;
    color:white;
    width:40px;
    border-radius: 5px;
    position: fixed;
    top:0.5vh;
    left:0.5vw;
    &:hover{
    background-color:#0056b3;
   }
  }
  main{
    margin:0;
    background-image:url("../Images/questionnaire.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100vh;
    width:100%;
  }
  .rl-div{
    background-color: white;
  }
  .profile-link{
    text-decoration:none;
    color:black;
    & :hover{
        text-decoration: underline black;
    }
}