#loader{
    width:100px;
    height:100px;
    border-top:8px dotted silver;
    border-right:8px dotted silver;
    border-left:8px dotted silver;
    border-bottom:8px dotted white;
    animation:rotate 2s ease-in-out infinite;
    border-radius: 100%;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
}
@keyframes rotate{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.home-btn{
    border: none;
    padding: 5px;
    background-color:#007bff ;
     color:white;
    width:40px;
   border-radius: 5px;
   position: fixed;
   top:0.5vh;
   left:0.5vw;
   z-index:1;
    &:hover{
   background-color:#0056b3;
   }
  }
