/* Container for profiles */
#profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Profile container */
.profile-container {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.profile-container:hover {
  transform: translateY(-10px);
}

/* Profile photo */
.profile-photo-container {
  margin-bottom: 20px;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.placeholder-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-size: 14px;
}

/* Profile name and role container */
.profile-name-container, .profile-role-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.profile-name, .profile-role {
  font-size: 18px;
  color: #333;
}


/* Profile email */
.profile-email {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

/* Action button for image */
.image-action-button,.change-profile-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  margin-right:20px;
}

.image-action-button:hover,.change-profile-button:hover{
  background: #0056b3;
}
.home-btn{
  border: none;
  padding: 5px;
  background-color:#007bff ;
  color:white;
  width:40px;
  border-radius: 5px;
  &:hover{
    background-color:#0056b3;
  }
}



