<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Image</title>
  <link rel="stylesheet" href="static/CSS/add-change-image.css" type="text/css">
</head>
<body>
  <a href="/afterlogin">Home</a>
  <div class="image-upload-container">
    <h2>Add Profile Image</h2>
    <div class="image-drop-area" id="drop-area">
      <p>Drag and drop an image here, or click to select an image</p>
      <form action="/add-image" method="post" enctype="multipart/form-data">
      <input type="file" id="file-input" accept="image/*" style="display: none;" name="image">
      <button id="upload-button" class="action-button" style="display: none;" type="submit">Upload Image</button>
      </form>
      <div id="image-preview" class="image-preview"></div>
    </div>

  </div>

  <script src="static/javascript/add-image.js"></script>
</body>
</html>
