<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratory</title>
</head>
<body>
    <header>
        <h1>Laboratory</h1>
        <form action="/page-to-post">
            <input type="submit" value="Add Post">
        </form>
    </header>
    <hr>
    <main>
        <a href="/atomic-mass-page">Get Atomic Mass</a>
        <a href="/own-posts-page">My Post</a>
        <form action="/logout" method="post">
            <input type="submit" value="logout">
        </form>
        <form action="/profile" method="get">
            <input type="submit"  value="profile">
        </form>
        <div id="blogs"></div>
    </main>
    <footer>
        <p>&copy;Parasdeveloper8 All rights reserved</p>
    </footer>
    <script src="static/javascript/index.js"></script>
</body>
</html>