<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chemical-formulaes</title>
</head>
<body>
    <h1>Chemical-formulaes</h1>
    <form>
        <label for="elem1">Enter Element</label>
        <input type="text" required id="elem1" placeholder="Ammonium">
        <label for="elem2">Enter Element</label>
        <input type="text" required id="elem2" placeholder="Sulphate">
        <button onclick="createformula(event)" type="submit">Create</button>
    </form>
    <script src="static/javascript/chem-formulae.js"></script>
</body>
</html>