<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Valency</title>
</head>
<body>
    <header>
       <h1>Laboratory</h1>
    </header>
    <main>
        <h2>valency</h2>
        <fieldset>
        <legend>Monovalent Ions</legend>
         <b>+1</b>
         <br>
         Potassium <b>K<sup>+1</sup></b>
         Sodium <b>Na<sup>+1</sup></b>
         Copper <b>Cu<sup>+1</sup></b>
         Mercury <b>Hg<sup>+1</sup></b>
         Silver <b>Ag<sup>+1</sup></b>
         Ammonium <b>NH4<sup>+1</sup></b>
         Hydrogen <b>H<sup>+1</sup></b>
         <br>
         <b>-1</b>
         <br>
            Hydroxide <b>OH<sup>-1</sup></b>
            Fluoride <b>F<sup>-1</sup></b>
            Chloride <b>Cl<sup>-1</sup></b>
            Bromide <b>Br<sup>-1</sup></b>
            Iodide <b>I<sup>-1</sup></b>
            Sodium bicarbonate <b>NaHCO3<sup>-1</sup></b>
            Nitrate <b>NO3<sup>-1</sup></b>
            Nitrite <b>NO2<sup>-1</sup></b>
         <br>
        </fieldset>

        <fieldset>
        <legend>Bivalent Ions</legend>
        <b>+2</b>
        <br>
            Barium <b>Ba<sup>+2</sup></b>
            Calcium <b>Ca<sup>+2</sup></b>
            Zinc <b>Zn<sup>+2</sup></b>
            Iron <b>Fe<sup>+2</sup></b>
            Cobalt <b>Co<sup>+2</sup></b>
            Nickel <b>Ni<sup>+2</sup></b>
            Mangnese <b>Mn<sup>+2</sup></b>
            Magnesium <b>Mg<sup>+2</sup></b>
            Copper <b>Cu<sup>+2</sup></b>
            Lead <b>Pb<sup>+2</sup></b>
        <br>
         <b>-2</b>
         <br>
         Oxide <b>O<sup>-2</sup></b>
         Carbonate <b>CO3<sup>-2</sup></b>
         Sulphite <b>SO3<sup>-2</sup></b>
         Sulphide <b>S<sup>-2</sup></b>
         Sulphate <b>SO4<sup>-2</sup></b>
         <br>
        </fieldset>

        <fieldset>
        <legend>Trivalent Ions</legend>
        <b>+3</b>
        <br>
        Aluminium <b>Al<sup>+3</sup></b>
        Iron <b>Fe<sup>+3</sup></b>
        <br>
        <b>-3</b>
        <br>
        Phosphate <b>PO4<sup>-3</sup></b>
        Nitride <b>N<sup>-3</sup></b>
        <br>
        </fieldset>
    </main>
    <footer></footer>
</body>
</html>