<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find metal or not</title>
</head>
<body>
    <header>
        <h1>Laboratory</h1>
    </header>
    <hr>
    <main>
        <a href="/">Home</a>
        <p>Find Metal or Not</p>
    <form id="myform">
        <input type="text" required placeholder="eg.Hydrogen or N" id="input">
        <br>
        <button type="submit" onclick="getMass()">Enter</button>
        <strong>Do not enter first letter lowercase or invalid splelling</strong>
    </form>
    <div id="result-div"></div>
    </main>
    <footer>
        <p>&copy;Parasdeveloper8 All rights reserved</p>
    </footer>
    <script src="static/javascript/metal.js"></script>
</body>
</html>