<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
</head>
<body>
    <header>
        <h1>Laboratory</h1>
    </header>
    <main>
        <a href="/">Home</a>
        <form action="/post" method="post">
            <input type="file">
            <input type="submit">
        </form>
    </main>
    <footer>
        <p>&copy;Parasdeveloper8 All rights reserved</p>
    </footer>
</body>
</html> 