<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="static/CSS/profile.css" type="text/css">
</head>
<body>
    <div class="profile-container">
        <div id="profile-photo-container">
          <!-- Profile photo or placeholder will go here -->
        </div>
        <h1 id="profile-name" class="profile-name">Loading...</h1>
        <p id="profile-email" class="profile-email">Please wait</p>
        <button id="image-action-button" class="action-button" style="display: none;"></button>
      </div>
  <script src="static/javascript/profile.js"></script>
</body>
</html>
