<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
  <link rel="stylesheet" href="static/CSS/profile.css" type="text/css">
</head>
<body>
  <div class="profile-container">
    <img id="profile-photo" class="profile-photo" src="" alt="Profile Photo">
    <h1 id="profile-name" class="profile-name">Loading...</h1>
    <p id="profile-email" class="profile-email">Please wait</p>
  </div>
  <script src="static/javascript/profile.js"></script>
</body>
</html>
